In [55]:
%matplotlib inline
%config InlineBackend.figure_format = 'svg'

import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd   
import matplotlib.pyplot as plt
import seaborn as sns
from imblearn.over_sampling import SMOTE
import itertools

import psycopg2
from sqlalchemy import create_engine

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier


# from xgboost import XGBClassifier
# from lightgbm import LGBMClassifier
# from catboost import CatBoostClassifier
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier

In [57]:
# Create an engine instance
alchemyEngine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/Project4')
#create_engine(f'postgresql://{username}:{password}@localhost:5432/employees')

# Connect to PostgreSQL server
dbConnection = alchemyEngine.connect();

In [58]:
#Credit Record Data Frame
# Read data from PostgreSQL database table and load into a DataFrame instance

Credit_Record_df = pd.read_sql("select * from \"credit_record2\"", dbConnection);

#pd.set_option('display.expand_frame_repr', False);

In [59]:
# Read data from PostgreSQL database table and load into a DataFrame instance

Application_Record_df = pd.read_sql("select * from \"application_record\"", dbConnection);

#pd.set_option('display.expand_frame_repr', False);

# Close the database connection

dbConnection.close();

In [60]:
# ## LOCAL TESTING ONLY ##
# Credit_Record_df = pd.read_csv("credit_record3.csv")
# Application_Record_df = pd.read_csv("application_record3.csv")

# Credit_Record_df = Credit_Record_df.rename(columns={
  



#     'ID':'id',
#  'CODE_GENDER':'code_gender',
#  'FLAG_OWN_CAR':'flag_own_car',
#  'FLAG_OWN_REALTY':'flag_own_realty',
#  'CNT_CHILDREN':'cnt_children',
#  'AMT_INCOME_TOTAL':'amt_income_total',
# #  'NAME_INCOME_TYPE':'name_income_type',
# #  'NAME_EDUCATION_TYPE':'name_education_type',
# #  'NAME_FAMILY_STATUS':'name_family_status',
# #  'NAME_HOUSING_TYPE':'name_housing_type',
# #  'DAYS_BIRTH':'days_birth',
# #  'DAYS_EMPLOYED':'days_employed',
# #  'FLAG_MOBIL':'flag_mobil',
# #  'FLAG_WORK_PHONE':'flag_work_phone',
# #  'FLAG_PHONE':'flag_phone',
# #  'FLAG_EMAIL':'flag_email',
# #  'OCCUPATION_TYPE':'occupation_type',
#  'CNT_FAM_MEMBERS':'cnt_fam_members',
# #  'MONTHS_BALANCE':'months_balance',
# #  'STATUS':'status',
#  'CREDIT RISK:'Credit Risk'
#     })

In [61]:
Credit_Record_df

              id  months_balance status
0        5001711             0.0      X
1        5001711            -1.0      0
2        5001711            -2.0      0
3        5001711            -3.0      0
4        5001712             0.0      C
...          ...             ...    ...
1048570  5150487           -25.0      C
1048571  5150487           -26.0      C
1048572  5150487           -27.0      C
1048573  5150487           -28.0      C
1048574  5150487           -29.0      C

[1048575 rows x 3 columns]

In [62]:
Application_Record_df

,id,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,name_income_type,name_education_type,name_family_status,name_housing_type,days_birth,days_employed,flag_mobil,flag_work_phone,flag_phone,flag_email,occupation_type,cnt_fam_members
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438505,6840104,M,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,None,1.0
438506,6840222,F,N,N,0,103500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15939,-3007,1,0,0,0,Laborers,1.0
438507,6841878,F,N,N,0,54000.0,Commercial associate,Higher education,Single / not married,With parents,-8169,-372,1,1,0,0,Sales staff,1.0
438508,6842765,F,N,Y,0,72000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21673,365243,1,0,0,0,None,2.0
438509,6842885,F,N,Y,0,121500.0,Working,Secondary / secondary special,Married,House / apartment,-18858,-1201,1,0,1,0,Sales staff,2.0

In [63]:
###Merge the Datasets
new_df = pd.merge(Application_Record_df,Credit_Record_df)
new_df

,id,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,name_income_type,name_education_type,name_family_status,name_housing_type,days_birth,days_employed,flag_mobil,flag_work_phone,flag_phone,flag_email,occupation_type,cnt_fam_members,months_balance,status
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0,0.0,C
1,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0,-1.0,C
2,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0,-2.0,C
3,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0,-3.0,C
4,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,None,2.0,-4.0,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777710,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-9.0,0
777711,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-10.0,2
777712,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-11.0,1
777713,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-12.0,0
777714,5150337,M,N,Y,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,-9188,-1193,1,0,0,0,Laborers,1.0,-13.0,0

In [64]:
###Merge the Datasets
new_df.dtypes

id                      object
code_gender             object
flag_own_car            object
flag_own_realty         object
cnt_children             int64
amt_income_total       float64
name_income_type        object
name_education_type     object
name_family_status      object
name_housing_type       object
days_birth               int64
days_employed            int64
flag_mobil               int64
flag_work_phone          int64
flag_phone               int64
flag_email               int64
occupation_type         object
cnt_fam_members        float64
months_balance         float64
status                  object
dtype: object

In [65]:
new_df['occupation_type'].value_counts()

Laborers                 131572
Core staff                77112
Sales staff               70362
Managers                  67738
Drivers                   47678
High skill tech staff     31768
Accountants               27223
Medicine staff            26691
Cooking staff             13416
Security staff            12400
Cleaning staff            11399
Private service staff      6714
Low-skill Laborers         3623
Secretaries                3149
Waiters/barmen staff       2557
HR staff                   1686
IT staff                   1319
Realty agents              1260
Name: occupation_type, dtype: int64

In [66]:
#credit_risk_df = pd.DataFrame()
new_df["Credit Risk"] = new_df["status"].apply(lambda x: "low_risk" if(x == "C" or x == "X") else "high_risk")
new_df.head(20)

,id,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,name_income_type,name_education_type,name_family_status,name_housing_type,...,days_employed,flag_mobil,flag_work_phone,flag_phone,flag_email,occupation_type,cnt_fam_members,months_balance,status,Credit Risk
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,0.0,C,low_risk
1,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-1.0,C,low_risk
2,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-2.0,C,low_risk
3,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-3.0,C,low_risk
4,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-4.0,C,low_risk
5,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-5.0,C,low_risk
6,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-6.0,C,low_risk
7,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-7.0,C,low_risk
8,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-8.0,C,low_risk
9,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-9.0,C,low_risk
10,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-10.0,C,low_risk
11,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-11.0,C,low_risk
12,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-12.0,C,low_risk
13,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-13.0,1,high_risk
14,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-14.0,0,high_risk
15,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-15.0,X,low_risk
16,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,0.0,C,low_risk
17,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-1.0,C,low_risk
18,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-2.0,C,low_risk
19,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,-4542,1,1,0,0,None,2.0,-3.0,C,low_risk

In [67]:
list(new_df.columns)

['id',
 'code_gender',
 'flag_own_car',
 'flag_own_realty',
 'cnt_children',
 'amt_income_total',
 'name_income_type',
 'name_education_type',
 'name_family_status',
 'name_housing_type',
 'days_birth',
 'days_employed',
 'flag_mobil',
 'flag_work_phone',
 'flag_phone',
 'flag_email',
 'occupation_type',
 'cnt_fam_members',
 'months_balance',
 'status',
 'Credit Risk']

In [68]:
# Comment out what you do not want to keep
training_columns = [
#  'id',
 'code_gender', ###Keep###
 'flag_own_car', ###Keep###
 'flag_own_realty', ###Keep###
 'cnt_children', ###Keep###
 'amt_income_total', ###Keep###
#  'name_income_type',
#  'name_education_type',
#  'name_family_status',
#  'name_housing_type',
#  'days_birth',
#  'days_employed',
#  'flag_mobil',
#  'flag_work_phone',
#  'flag_phone',
#  'flag_email',
#  'occupation_type', ###Test###
 'cnt_fam_members', ###Keep###
#  'months_balance',
#  'status',
 'Credit Risk' ###Keep###
]

# Select the target feature
target_feature = 'Credit Risk'
# In case the target feature gets left inside the training columns
if (target_feature in training_columns):
    training_columns.remove(target_feature)

In [69]:
# split the data
X  = pd.get_dummies(new_df[training_columns], drop_first=True)
y = new_df[[target_feature]].values.ravel()
print(X.shape, y.shape)

(777715, 6) (777715,)

In [70]:
X

,cnt_children,amt_income_total,cnt_fam_members,code_gender_M,flag_own_car_Y,flag_own_realty_Y
0,0,427500.0,2.0,1,1,1
1,0,427500.0,2.0,1,1,1
2,0,427500.0,2.0,1,1,1
3,0,427500.0,2.0,1,1,1
4,0,427500.0,2.0,1,1,1
...,...,...,...,...,...,...
777710,0,112500.0,1.0,1,0,1
777711,0,112500.0,1.0,1,0,1
777712,0,112500.0,1.0,1,0,1
777713,0,112500.0,1.0,1,0,1
777714,0,112500.0,1.0,1,0,1

In [71]:
X.columns

Index(['cnt_children', 'amt_income_total', 'cnt_fam_members', 'code_gender_M',
       'flag_own_car_Y', 'flag_own_realty_Y'],
      dtype='object')

In [73]:

X_train, X_test, y_train, y_test = train_test_split(X,y, 
                                                    stratify=y, test_size=0.3,
                                                    random_state = 100)

### Random Forest

In [74]:
model = RandomForestClassifier(n_estimators=50,
                              max_depth=12,
                              min_samples_leaf=16
                              )
model.fit(X_train, y_train)
y_predict = model.predict(X_test)

print('Accuracy Score is {:.5}'.format(accuracy_score(y_test, y_predict)))
print(pd.DataFrame(confusion_matrix(y_test,y_predict)))

Accuracy Score is 0.6217
      0       1
0  4584   86085
1  2178  140468

#### Logistics Regression

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
# Train the Logistic Regression model on the unscaled data and print the model score
logisticRegr = LogisticRegression(
    solver='lbfgs', 
    max_iter=100,
    random_state=0
)
logisticRegr.fit(X_train, y_train)
print("LogisticRegression score: ", logisticRegr.score(X_test, y_test))

### Standard Scaler

In [79]:
from sklearn.preprocessing import StandardScaler

In [80]:
# X, y = generate_mutlicollinear_dataset(n_features=3, n_noise_features = 3)
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

### Standard Scaler Logistics Regression

In [81]:
logisticRegr = LogisticRegression(
    solver='lbfgs', 
    max_iter=100,
    random_state=0
)
logisticRegr.fit(X_train_scaled, y_train)
print("LogisticRegression score: ", logisticRegr.score(X_test_scaled, y_test))

LogisticRegression score:  0.6123387101958944

### Standard Scaler Random Forest

In [83]:
model = RandomForestClassifier(n_estimators=50,
                              max_depth=12,
                              min_samples_leaf=16
                              )
model.fit(X_train_scaled, y_train)
y_predict = model.predict(X_test_scaled)

print('Accuracy Score is {:.5}'.format(accuracy_score(y_test, y_predict)))
print(pd.DataFrame(confusion_matrix(y_test,y_predict)))

Accuracy Score is 0.62282
      0      1
0  3144  57149
1  1519  93731

### Random Forest Feature Selection

In [84]:
clf = RandomForestClassifier(random_state=1, n_estimators=50).fit(X_train_scaled, y_train)
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

Training Score: 0.634192795561356
Testing Score: 0.6347376609683496

In [85]:
feature_importances = clf.feature_importances_

In [87]:
features = sorted(zip(X.columns, clf.feature_importances_), key = lambda x: x[1])
cols = [f[0] for f in features]
width = [f[1] for f in features]

fig, ax = plt.subplots()

fig.set_size_inches(10,10)
plt.margins(y=0.001)

ax.barh(y=cols, width=width)

plt.show()

### Grid Search CV Cross Validation Tunning Hyper Parameters

In [88]:
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import pandas as pd
from pathlib import Path

In [89]:
steps = [
    ('scaler', StandardScaler()),
    ('pca', PCA(n_components=0.9)),
    ('lr', LogisticRegression())
]

In [90]:
pipe = Pipeline(steps)

In [91]:
params = {'lr__C': [0.001, 0.01, 0.1, 1, 10, 100, 1000],
         'lr__solver': ['sag', 'lbfgs']}

In [92]:
cv = GridSearchCV(pipe, params)
cv.fit(X_train, y_train)

GridSearchCV(estimator=Pipeline(steps=[('scaler', StandardScaler()),
                                       ('pca', PCA(n_components=0.9)),
                                       ('lr', LogisticRegression())]),
             param_grid={'lr__C': [0.001, 0.01, 0.1, 1, 10, 100, 1000],
                         'lr__solver': ['sag', 'lbfgs']})

In [93]:
cv.score(X_test, y_test)

0.6123387101958944

In [94]:
cv.best_params_

{'lr__C': 0.001, 'lr__solver': 'sag'}